<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
        owner: 'GreyChess',
        repo: 'commentRepo',
        oauth: {
            client_id: 'e0c00f0a72bc10fac881',
            client_secret: '1ca7ab0eaeb689e200f90d2f71062add9bd8998d',
        },
    })
    gitment.render('container')
</script>